<a href="https://colab.research.google.com/github/rajeshchengannur/Datascience/blob/master/DS_session_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [9]:
# Write your code 
print("Data", "Science", "Mentorship", "Program" , sep='-', end='-')
print("By" ,"CampusX",sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [10]:
# Write your code here
celsius = float(input("Enter the temparature in celsius"))
f = (celsius*9/5) + 32
print(f)

Enter the temparature in celsius33
91.4

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [11]:
# Write your code here
a= int(input("Enter the first Number"))
b=int(input("Enter the second Number"))
print (a,b)
c= a
a=b
b=c
print(a,b)

Enter the first Number22
Enter the second Number34
22 34
34 22

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [12]:
# Write your code here
p = list(input("Enter the first co-ordinates"))
q= list(input("Enter the second co-ordinates"))
print(p,q)

#Euclidean distance is ((x2-x1)^2 + (y2-y1)^2)^1/2
a= p[0]
d = ((int(p[0])-int(q[0]))**2 + (int(p[1])-int(q[1]))**2)**0.5
print (d)

Enter the first co-ordinates25
Enter the second co-ordinates39
['2', '5'] ['3', '9']
4.123105625617661

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [13]:
# Write your code here

p=float(input('The principal is'))
t= float(input('The time period is'))
r=float(input('The rate of interest is'))
si = (p * t * r)/100
print('The Simple Interest is', si)

The principal is2300
The time period is5
The rate of interest is9.5
The Simple Interest is 1092.5

6### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [14]:
# Write your code here
legs = int(input("Enter Heads"))
heads = int(input("Enter legs"))
print("Dogs :",heads)
print("Chicken :",int(legs/2))

Enter Heads4
Enter legs14
Dogs : 14
Chicken : 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
# Write your code here

n = int(input("Enter limit of Natural numbers :"))
sum = 0
while(n > 0):
  sum+=n**2
  n=n-1

print("sum is :",sum)

Enter limit of Natural numbers :9
sum is : 285

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [16]:
# Write your code here

firstTerm = int(input("Enter the first term :"))
secondTerm = int(input("Enter the second term :"))
n= int(input("Ente the value of n :"))

n_thTerm =firstTerm + (n-1)*(secondTerm - firstTerm)
print("Nth Term is :",n_thTerm)

Enter the first term :2
Enter the second term :4
Ente the value of n :6
Nth Term is : 12

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [17]:
# Write your code here
fraction1 = input("enter fraction no 1 with comma seperated:")
fraction1 = fraction1.split(",")

fraction2 = input("enter fraction no 2 with comma seperated:")
fraction2 = fraction2.split(",")

a=(float(fraction1[0])/float(fraction1[1]))
b=(float(fraction2[0])/float(fraction2[1]))
sum = a+b
print("sum of the fractions is :", sum)

enter fraction no 1 with comma seperated:22,7
enter fraction no 2 with comma seperated:32,5
sum of the fractions is : 9.542857142857143

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [8]:
# Write your code here

h= float(input("Enter height of the tank :"))
l = float(input("Enter length of the tank :"))
b= float(input("Enter bredth of the tank :"))

Area_of_glass = 3*(22/7)*(1**2)
Area_of_tank = l*b*h

no_of_glss = float(Area_of_tank)/float(Area_of_glass)
print("No of glasses is :", round(no_of_glss,2), " glasses")

Enter height of the tank :20
Enter length of the tank :20
Enter bredth of the tank :20
No of glasses is : 848.48  glasses