<a href="https://colab.research.google.com/github/rajeshchengannur/Datascience/blob/master/session_20_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# pd.concat
# df.concat
# ignore_index
# df.append
# mullitindex -> fetch using iloc
# concat dataframes horizontally

In [ ]:
# inner join

In [ ]:
# left join

In [ ]:
# right join

In [ ]:
# outer join

In [ ]:
# 1. find total revenue generated

In [ ]:
# 2. find month by month revenue

In [ ]:
# 3. Print the registration table
# cols -> name -> course -> price

In [ ]:
# 4. Plot bar chart for revenue/course

In [ ]:
# 5. find students who enrolled in both the months

In [ ]:
# 6. find course that got no enrollment

In [ ]:
# 7. find students who did not enroll into any courses

In [ ]:
# 8. Print student name -> partner name for all enrolled students

In [ ]:
# 9. find top 3 students who did most number enrollments

In [ ]:
# 10. find top 3 students who spent most amount of money on courses

In [ ]:
# Alternate syntax for merge

In [ ]:
# IPL Problems

# find top 3 studiums with highest sixes/match ratio
# find orange cap holder of all the seasons