<a href="https://colab.research.google.com/github/rajeshchengannur/Datascience/blob/master/session_17_pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

### Creating DataFrame

In [ ]:
# using lists
student_data = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]

pd.DataFrame(student_data,columns=['iq','marks','package'])

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [ ]:
# using dicts

In [ ]:
# using read_csv

### DataFrame Attributes and Methods

In [ ]:
# shape

In [ ]:
# dtype

In [ ]:
# index

In [ ]:
# columns

In [ ]:
# values

In [ ]:
# head and tail

In [ ]:
# sample

In [ ]:
# info

In [ ]:
# describe

In [ ]:
# isnull

In [ ]:
# duplicated

In [ ]:
# rename

### Math Methods

In [ ]:
# sum -> axis argument

### Selecting cols from a DataFrame

In [ ]:
# single cols

In [ ]:
# multiple cols

### Selecting rows from a DataFrame

- **iloc** - searches using index positions
- **loc** - searches using index labels

In [ ]:
# single row

In [ ]:
# multiple row

In [ ]:
# fancy indexing

### Selecting both rows and cols

### Filtering a DataFrame

In [ ]:
# find all the final winners

In [ ]:
# how many super over finishes have occured

In [ ]:
# how many matches has csk won in kolkata

In [ ]:
# toss winner is match winner in percentage

In [ ]:
# movies with rating higher than 8 and votes>10000

In [ ]:
# Action movies with rating higher than 7.5

In [ ]:
# write a function that can return the track record of 2 teams against each other

### Adding new cols

In [ ]:
# completely new

In [ ]:
# from existing ones

### Important DataFrame Functions

In [ ]:
# astype

In [ ]:
# value_counts

In [ ]:
# find which player has won most potm -> in finals and qualifiers

In [ ]:
# Toss decision plot

In [ ]:
# how many matches each team has played

In [ ]:
# sort_values -> ascending -> na_position -> inplace -> multiple cols