<a href="https://colab.research.google.com/github/rajeshchengannur/Datascience/blob/master/webScappingDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1')

In [3]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;adc33d17&#46;1675157461&#46;7cf5ecc\n</BODY>\n</HTML>\n'

In [5]:

headers = {'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246"}
# Here the user agent is for Edge browser on windows 10. You can find your browser user agent from the above given link.
#r = requests.get(url=URL, headers=headers)
#print(r.content)

#URL = "http://www.values.com/inspirational-quotes"
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [6]:
soup=BeautifulSoup(webpage,'lxml')

In [8]:
#print(soup.prettify())
soup.find_all('h1')[0].text

'List of companies in India'

In [12]:
#soup.find_all('h2')
for i in soup.find_all('h2'):
  print(i.text.strip())

TCS
Accenture
Cognizant
ICICI Bank
HDFC Bank
Wipro
Infosys
Capgemini
Tech Mahindra
Genpact
HCLTech
Amazon
Axis Bank
IBM
Concentrix Corpo...
Reliance jio
Larsen & Toubro ...
HDB Financial Se...
Vodafone Idea
Teleperformance
Reliance Retail
Kotak Mahindra B...
Deloitte
Reliance Industr...
Bharti Airtel
Tata Motors
BYJU'S
Flipkart
WNS
Mahindra & Mahin...

In [14]:
soup.find_all('p',class_='rating')

[<p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.9
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.1
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.9
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.0
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.0
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.9
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.9
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.9
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.7
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.0
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.8
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.3
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.9
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.2
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.0
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.0
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.1
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.0
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.2
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.6
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.1
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.9
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.1
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.1
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.1
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.1
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.5
 								</p>,
 <p class="rating badge-large rating-4"><i class="icon icon-star"></i>
 									4.2
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.7
 								</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 									3.9
 								</p>]

In [15]:
company=soup.find_all('div',class_='company-content-wrapper')

In [16]:
len(company)

30

In [23]:
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
old=[]
employees=[]

for i in company:
  name.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_='rating').text.strip())
  reviews.append(i.find('a',class_='review-count').text.strip())
  ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
  old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
  employees.append(i.find_all('p',class_='infoEntity')[3].text.strip())

In [25]:
d={'name':name,'rating':rating,'reviews':reviews,'type':ctype,'hq':hq,'old':old,'employees':employees}
df=pd.DataFrame(d)

#Executing the same for multiple pages of ambition box

In [32]:
final =pd.DataFrame()
headers = {'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246"}
for j in range(1,11):
  url='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
  webpage=requests.get(url,headers=headers).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='company-content-wrapper')
  name=[]
  rating=[]
  reviews=[]
  ctype=[]
  hq=[]
  old=[]
  employees=[]

  for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p',class_='rating').text.strip())
    reviews.append(i.find('a',class_='review-count').text.strip())

    try:
      ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)

    try:
      hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)

    try:
      old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    except:
      old.append(np.nan)

    try:
      employees.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    except:
      employees.append(np.nan)
  d={'name':name,'rating':rating,'reviews':reviews,'type':ctype,'hq':hq,'old':old,'employees':employees}
  df=pd.DataFrame(d)
  final=final.append(df)

In [33]:
final

,name,rating,reviews,type,hq,old,employees
0,TCS,3.9,(51.1k Reviews),Public,"Mumbai,Maharashtra + 271 more",55 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(32.7k Reviews),Public,Dublin + 131 more,34 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(30.1k Reviews),Private,Teaneck. New Jersey. + 101 more,29 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(34k Reviews),Public,"Mumbai,Maharashtra + 1058 more",29 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(39.8k Reviews),Public,"Mumbai,Maharashtra + 1266 more",29 years old,50k-1 Lakh Employees (India)
...,...,...,...,...,...,...,...
25,Reliance SMSL,4.1,(1.4k Reviews),Public,Mumbai + 365 more,16 years old,1k-5k Employees (India)
26,Delhi Public Sch...,3.9,(1.4k Reviews),Public,"Greater Noida,Uttar Pradesh + 209 more",25 years old,1k-5k Employees (India)
27,ACT Fibernet,4.1,(1.4k Reviews),Private,"Bengaluru/Bangalore,Karnataka + 37 more",23 years old,5k-10k Employees (India)
28,Tech Mahindra Bu...,3.5,(1.4k Reviews),Public,"Mumbai,Maharashtra + 35 more",20 years old,1k-5k Employees (India)
29,Micro Labs,3.8,(1.4k Reviews),Private,"Bangalore/Bengaluru,Karnataka + 96 more",50 years old,10k-50k Employees (India)